@model VidLy3.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*This is a comment 
  on multiple lines*@
<h2>@Model.Movie.Name</h2>


