@model VidLy3.ViewModels.CustomerDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer details</h2>
@{
    foreach (var customer in Model.Customers)
    {
        if (customer.Id == Model.ID)
        {
            @customer.Name;
        }
    };
}
