@model VidLy3.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

    @if (Model.Customers.Count == 0)
    {
        <text>There are currently no customers</text>
    }
    else
    {
        <Table>
            <tr><th><h3>Customer</h3></th></tr>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td><a href="Details/@customer.Id">@customer.Name</a></td>
                </tr>
            }
        </Table>
    }
